@use '../absttracts/' as *;
.footer {
	overflow: hidden;
	--pt: 3rem;
	background-image: var(--footer-gradient);
	padding-top: var(--pt);
	@include media(lg) {
		--pt: 0;
	}
	&__layout {
		display: grid;
		margin-inline: auto;
		grid-template-columns: minmax(0, 30rem);
		gap: 4.5rem;
		@include media(lg) {
			width: 100%;
			min-height: 35rem;
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			gap: 11.5rem;
		}
	}
	& a {
		color: var(--clr-primary);
		display: flex;
		align-items: center;
		gap: 2rem;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		transition: color 0.3s;
		@include hover {
			color: var(--clr-primary-light);
		}
	}
	&__wait,
	&__contact {
		letter-spacing: 1.224px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		font-family: 'Georgia' serif;
		@include media(lg) {
			align-items: start;
		}
	}
	&__contact {
		& span {
			svg {
				max-width: 4rem;
				max-height: 3.2rem;
			}
		}
		&-tel {
			display: flex;
		}
	}
	&__wait {
		@include media(lg) {
			transform: translateY(6px);
		}
		a {
			align-self: start;
			@include media(lg) {
				transform: translateY(-6px);
			}

			&:nth-child(3) {
				@include media(lg) {
					transform: translateY(-15px);
				}
			}
		}
		& span {
			svg {
				width: 2.2rem;
				height: 3.2rem;
			}
		}
	}
	&__decor {
		margin-inline: auto;
		width: 100%;
		max-width: 26rem;
		aspect-ratio: 1 / 1.04;
		background-image: url(../assets/footer-puppy.png);
		background-repeat: no-repeat;
		background-size: cover;
		@include media(lg) {
			max-width: 29.9rem;
			align-self: end;
			transform: translate(11.4px, 1px);
		}
	}
}
