@use '../absttracts/' as *;
.not_only {
	&__layout {
		padding-block: 3rem;
		min-height: 70.3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4.2rem;
		background-image: url(../assets/puppy-sm-min.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		@include media(md) {
			background-image: url(../assets/puppy-md-min.png);
		}
		@include media(lg) {
			background-image: url(../assets/puppy-lg-min.png);
		}
	}
}
