@use '../absttracts/' as *;
.our_friends {
	&.main {
		padding-block: 4.2rem;
		padding-inline: 1.5rem;
		background-color: var(--clr-light-l);
		@include media(md) {
			padding-block: 8rem 10rem;
		}
	}

	&__layout.main {
		display: flex;
		flex-direction: column;
		gap: 4.2rem;
		align-items: center;
		@include media(md) {
			gap: 6rem;
		}
	}

	&.pets {
		@include media(md) {
			padding-block: 8rem 7.6rem;
		}
		@include media(lg) {
			padding-block: 8.1rem 10.1rem;
		}
	}
	&__layout.pets {
		display: grid;
		margin-bottom: 4.2rem;
		@include media(md) {
			margin-bottom: 4rem;
		}
		@include media(lg) {
			grid-template-columns: repeat(4, 1fr);
			gap: 3rem 4rem;
			margin-bottom: 5.9rem;
		}
	}
}
.pets__heading {
	margin-bottom: 4.2rem;
	@include media(md) {
		margin-bottom: 3rem;
	}
	@include media(lg) {
		margin-bottom: 5.8rem;
	}
}
