:root {
	--clr-light: #ffffff;
	--clr-light-100: #f6f6f6;
	--clr-light-200: #fafafa;
	--clr-grey-200: #cdcdcd;
	--clr-grey: #b2b2b2;
	--clr-dark-500: #4c4c4c;
	--clr-dark-600: #444444;
	--clr-dark-700: #292929;
    --clr-primary-200:#F1CDB3
    --clr-primary:#FDDCC4

    --screen-gradient:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
    --footer-gradient:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

}
body{
	font-family: 'Noto Serif Georgian', serif;
}