@use '../absttracts/' as *;
:root {
	--clr-light-xl: #ffffff;
	--clr-light-l: #f6f6f6;
	--clr-light-s: #fafafa;
	--clr-dark-s: #cdcdcd;
	--clr-dark-m: #b2b2b2;
	--clr-dark-l: #545454;
	--clr-dark-xl: #4c4c4c;
	--clr-dark-2xl: #444444;
	--clr-dark-3xl: #292929;
	--clr-primary: #f1cdb3;
	--clr-primary-light: #fddcc4;

	--screen-gradient: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
	--footer-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}
body {
	font-family: 'Georgia', serif;
	overflow-x: hidden;
}

.grid {
	--gap: 1rem;
	display: grid;
	grid-template-columns:
		auto var(--gap) [content-start] minmax(0, calc(128rem - (var(--gap) * 2))) [content-end] var(--gap)
		auto;
	& > * {
		grid-column: content-start / content-end;
		position: relative;
	}
	@include media(md) {
		--gap: 3rem;
	}
	@include media(lg) {
		--gap: 4rem;
	}
}

.mobile {
	@include media(md) {
		display: none;
	}
}
.bg {
	&-main {
		background: var(--screen-gradient);
	}
	&-pets {
		background: var(--clr-light-xl);
		&.friends {
			background: var(--clr-light-l);
		}
	}
}
.mx-46 {
	max-width: 46rem;
}
.mx-43 {
	width: 43rem;
}
