@use '../absttracts/' as *;
.btn {
	background-color: var(--clr-primary);
	color: var(--clr-dark-3xl);
	border: 1px solid transparent;
	letter-spacing: 0.06em;
	line-height: 130%;
	font-size: 17px;
	padding: 1.5rem 4.5rem;
	border-radius: 10rem;
	transition: background-color 0.225s, border 0.225s;
	font-family: 'Noto Serif Georgian', serif;
	&:hover {
		background-color: var(--clr-primary-light);
	}
	@include hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
	&.outlined {
		background-color: var(--clr-light-xl);
		border: 1px solid var(--clr-primary);
		&:hover {
			background-color: var(--clr-primary-light);
			border: 1px solid transparent;
		}
	}
}
