@use '../absttracts/' as *;
.navigation {
	position: fixed;
	background-color: var(--clr-dark-3xl);
	inset-block: 0;
	right: 0;
	width: 32rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: transform 0.3s;
	&.open {
		transform: translateX(0%);
	}
	@include media(md) {
		position: static;
		background-color: transparent;
		width: auto;
		transform: translateX(0%);
		transition: none;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 4px;
		align-items: center;
		@include media(md) {
			flex-direction: row;
			gap: 3.5rem;
		}
	}
	&__link {
		color: var(--clr-dark-s);
		transition: color 0.3s;
		position: relative;
		letter-spacing: 0.05px;
		&.active {
			color: var(--clr-light-s);
			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 3px;
				left: 0;
				top: 125%;
				background-color: var(--clr-primary);
			}
		}

		@extend %body-m-menu;
		@include hover {
			color: var(--clr-light-s);
		}
		@include media(md) {
			font-size: 1.5rem;
			line-height: 1.6;
		}
	}
	&.pets &__link {
		color: var(--clr-dark-l);
		&.active::before {
			background-color: var(--clr-primary);
		}
		@include hover {
			color: var(--clr-dark-3xl);
		}
	}
}
