@use '../absttracts/' as *;
.slider {
	z-index: 0;

	max-width: 100%;
	margin: 0 auto;
	@include media(md) {
		padding-inline: 4.5rem;
	}
	@include media(lg) {
		padding-inline: 10.5rem;
	}
	&__wrapper {
		overflow-x: hidden;
	}
	&__action {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		padding-inline: 4.3rem;
		@include media(md) {
			position: absolute;
			width: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			padding-inline: 0;
			z-index: -1;
		}
	}
	&__next {
		transform: rotate(180deg);
	}
	&__content {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 100%;
		justify-items: center;

		@include media(md) {
			grid-auto-columns: minmax(50%, 1fr);
		}
		@include media(lg) {
			grid-auto-columns: 27rem;
			justify-items: flex-start;
			gap: 9rem;
		}
	}
	&__item {
	}
}
